.externally {
    color:aqua;
}
.styled {
    color:blue;
}
#box1 {
    background-color: aliceblue;
    border: 10px solid pink;
    height: 100px;
    margin-left: 10px;
    margin-top: 50px;
    padding-top: 100px;
    width: 200px;
}
#box2 {
    background-color: rgb(183, 235, 149);
    border-top: 5px dashed rgb(228, 153, 178);
    height: 200px;
    margin-left: 100px;
    margin-top: 10px;
    width: 100px;
}